h1 {
    color: white;
    background-color: red;
    font-weight: bold;
}

div.basic {
    background-color: #ffced6;
    font-family: verdana, 'dejavu sans', sans-serif;
}

div#blue {
    color: rgb(0, 102, 255);
    font-size: 36px;
}

div#green {
    background-color: hsl(84, 91%, 79%);
    font-size: 24px;
    font-weight: bold;
}

.div#larger {
    font-size: 24px;
}

button {
    font-size: 28px;
    font-family: helvetica, 'times new roman', sans-serif;
}

button.one {
    background-color: #000;
    color: #fff;
}

button.two {
    background-color: rgb(255, 255, 174);
}